/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-block-wp-menus-block  {
  background: $background;
  border: 1px dotted $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}
